@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductItem?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
